*{
    font-family: 'Kiwi Maru', serif;
    padding: 0;
    margin: 0;
    
}

header{
    font-size: 32px;
    line-height: 100px;
    color: #58B2E8;

}

.nav-font{
    color: #58B2E8;
}

h1{
    font-size: 85px;
    color: #fff;
    text-align: center;
    padding-top: 334px;
}

.firstView {
    background-image: url(nanannimages/出雲大社本殿.webp);
    height: 800px;
    background-size: cover;
}


.profile .profile-text{
    width: 500px;
    float: right;
}

.about h2{
    font-size: 64px;
    margin-left: 70px;
    margin-top: 50px;
}

.about p{
    font-size: 32px;
}

.profile img{
    width: 700px;
    height: 700px;
}
.profile-title{
    margin-left:70px;
    margin-top: 50px;
 
}

.profile-text{
margin-right: 200px;
margin-top: 250px;
}

.spot{
    background-color: #EEEEEE;
}
.spot h2{
    font-size: 64px;
    margin-left: 70px;
    margin-top: 50px;
}

#tab1:checked~.panels #area1{
    display: block;
    background:#FFFEF0;
}
#tab2:checked~.panels #area2{
    display: block;
    background:#FFFEF0;
}

#tab1:checked~.tab_lab1{
background-color: #D4EBEC;
color: #7B7A7A;
}

#tab2:checked~.tab_lab2{
    background: #D4EBEC;
    color: #7B7A7A;
}

#tab3:checked~.tab_lab3{
    background: #D4EBEC;
    color: #7B7A7A;
}

.panel_content img{
width: 150px;
}

.course h2{
    font-size: 64px;
    margin-left: 70px;
    margin-top: 50px;
}

.course-blue{
    background-color: #D4EBEC;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 50px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items:center ;

} 
.course h3{
    margin-top: 30px;
    margin-left: 180px;
    margin-bottom: 10px;
    font-size: 36px;
}
.course h4{
    color: #fff;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    
    width: 70px;
    height: 165px;
    background-color: #7B7A7A;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding-top: 30px;
  
}
    
    


.link{
    font-size: 48px;
    color: #fff;
   padding-top: 50px;
  text-align: center;
  background-color: #58B2E8;
  height: 500px;
}
.link img{
    width: 144px;
}
.link-all{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
}



footer{
    height: 50px;
    background-color: #fff;
    color: #58B2E8;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px;
}
