*{
    font-family: 'Kiwi Maru', serif;
    padding: 0;
    margin: 0;
    
}

header{
    font-size: 32px;
    line-height: 100px;
    color: #58B2E8;
}

.nav-font{
    color: #58B2E8;
    background-color: #FFFEF0;
    width: 200px;
   text-align: center;
   line-height: 80px;
   font-size: 32px;
   padding-top: 300px;
   height: 500px;  
}
.nav-font a{
    text-decoration: none;
}

h1{
    font-size: 85px;
    color: #fff;
    text-align: center;
    padding-top: 350px;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.firstView{
background-image: url(nanannimages/出雲大社本殿.webp);
height: 800px;
width: 1240px;
float: right;
}







.profile .profile-text{
    width: 500px;
    float: right;
    color: #1F1F29;
}

.about h2{
    font-size: 64px;
    margin-left: 70px;
    margin-top: 50px;
    color: #1F1F29;
}

.about p{
    font-size: 32px;
}

.profile img{
    width: 700px;
    height: 700px;
}
.profile-title{
    margin-left:70px;
    margin-top: 50px;
 
}

.profile-text{
margin-right: 200px;
margin-top: 250px;
}

.spot{
    width: 100%;
    background-color: #EEEEEE;
    color: #1F1F29;
    padding-top: 30px;
    
}
.spot h2{
    font-size: 64px;
    margin-left: 70px;
    margin-top: 50px;
}

ul{
list-style-type: none;
}

.tab-spot{
   height: 2300px;
   padding: 10% 10% 10% 10.27%;
   
}



#tab1:checked~.panels #area1{
    display: block;
    background:#FFFEF0;
}
#tab2:checked~.panels #area2{
    display: block;
    background:#FFFEF0;
}

#tab3:checked~.panels #area3{
    display: block ;
    background: #FFFEF0;
}

#tab1:checked~.tab_lab1{
background-color: #7B7A7A;
color: #D4EBEC;
}

#tab2:checked~.tab_lab2{
    background: #7B7A7A;
    color: #D4EBEC;
}

#tab3:checked~.tab_lab3{
    background: #7B7A7A;
    color: #D4EBEC;
}

.tab_lab1, .tab_lab2, .tab_lab3{
    background-color: #D4EBEC;
color: #7B7A7A;
font-size: 36px;
display: flex;
flex-wrap: wrap;
display: inline-block;
padding-top: 10px;
padding-left: 118px;
padding-right: 118px;
text-align: center;
height: 70px;

}

.panel{
    padding: 50px;
    display: none;
}

.panel_content{
    color: #1F1F29;
}

.panel_content h3{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 36px;
}

.panel_content p{
font-size: 24px;
padding-bottom: 100px;
}
input[name="check"]{
    display: none;
}

.panel_content img{
width: 100%;
text-align: center;
}

.course{
    color: #1F1F29;
}

.course h2{
    font-size: 64px;
    margin-left: 70px;
    margin-top: 50px;
}

.course-blue{
    background-color: #D4EBEC;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 50px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items:center ;

} 
.course h3{
    margin-top: 30px;
    margin-left: 180px;
    margin-bottom: 10px;
    font-size: 36px;
}

.course h4{
    color: #fff;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 15px;
    width: 70px;
    height: 165px;
    background-color: #7B7A7A;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 30px;
    font-size: 20px;
}

.arrow-right {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 10px;
    border-top: 4px solid #7B7A7A;
    border-right: 4px solid #7B7A7A;
    transform: rotate(45deg);
}

.day1 img{
    border-radius: 50%;
    width: 370px;
    height: 370px;
    border: 15px solid #419ACF;
}

.day1 h3{
    font-size: 128px;
    color: #419ACF;  
}
.day1 p{
  font-size: 32px;  
}
.izumoennmusubi{
    text-align: center;
    color: #419ACF;
}


.inasanohama{
   padding-left: 150px;
   padding-top: 200px;
   color: #419ACF;
}
.inasanohama p{
    padding-left: 130px;
}

.shimenawa{
    padding-top: 100px;
    padding-left: 850px;
    color: #419ACF;
}

.shimenawa p{
    padding-left: 140px;
}

.shinnjiko{
text-align: center;
padding-top: 200px;
color: #419ACF;
}



.tamatukurionnsenn img{
    width: 1000px;
    height: 600px;
    border: 15px solid #419ACF;
    margin-top: 300px;
    margin-left: 200px;
}

.tamatukurionnsenn p{
    text-align: center;
    color: #419ACF;
    padding-bottom: 100px;
    font-size: 32px;
}

.day2{
    padding-top: 50px;
    background-color: #419ACF;
    height: 2800px;
    font-size: 32px;
}

.day2 h3{
    font-size: 128px;
    color: #fff;
}
.day2 img{
    border-radius: 50%;
    width: 370px;
    height: 370px;
    border: 15px solid #fff;
}

.tamatukurionnsenneki{
    text-align: center;
    color: #fff;
}

.matuejyou{
    padding-left: 150px;
    padding-top: 200px;
    color: #fff;
}

.matuejyou p{
    padding-left: 150px;
}

.adachiibijyutukann{
    padding-top: 100px;
    padding-left: 850px;
    color: #fff;
}
.adachiibijyutukann p{
    padding-left: 120px;
}

.izumoennmusubi2{
    text-align: center;
    padding-top: 200px;
    color: #fff;
}


.reservation{
    background-color: #FFFEF0;
    height: 800px;
}

    


.reservation h2{
color: #58B2E8;
font-size: 64px;
}
.reservation img{
    width: 500px;
    height: 500px;
    transform: rotate(10deg);
    border-radius: 30px;
}



.reservation-all{
  padding-top: 100px;

}
.reservation-all .reservation-text {
    float:left;
}
.reservation-text{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 100px;
}

.reservation-text h2{
    padding-bottom: 200px;
}

.reservation a{
    color: #1F1F29;
    font-size: 24px;
    background-color: #D9D9D9;
    border-radius: 30px;
    text-decoration: none;
    display: block;
    width: 200px;
    text-align: center;
    margin-left: 200px;
    padding: 10px 10px 10px 10px;
   
}



.reservation a:hover{
    background-color: #1F1F29;
    color: #D9D9D9;
}



.link{
    font-size: 48px;
    color: #fff;
    padding-top: 50px;
    text-align: center;
    background-color: #58B2E8;
    height: 500px;
}
.link img{
    width: 144px;
}
.link-all{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
}



footer{
    height: 50px;
    background-color: #fff;
    color: #58B2E8;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px;
}
