*{
    font-family: 'Kiwi Maru', serif;
    padding: 0;
    margin: 0;
    
}

header{
    font-size: 32px;
    line-height: 100px;
    color: #58B2E8;

}

h1{
    font-size: 85px;
    color: #fff;
    text-align: center;
    padding-top: 334px;
}

.firstView {
    background-image: url(nanannimages/出雲大社本殿.webp);
    height: 800px;
}

footer{
    height: 50px;
    background-color: #fff;
    color: #58B2E8;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px;
}